*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Roboto Slab', serif;
}
.header{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid orange;
    background-color: rgb(255, 252, 247);
}
.divleftHeader{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divleftHeader h2{
    margin-right: 35px;
}
nav{
    height: 100%;
    width: 40%;
    display: flex;
   justify-content: center;
   align-items: center;
}
nav ul{
    list-style: none;
    width: 100%;
    display: flex;
}
nav ul li{
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}
nav ul li a:hover{
    color:orange
}
.divBusqueda input{
    padding: 10px;
    border: none;
    outline: none;
    border: 1px outset orange;
    color:rgb(192, 144, 55);
    background-color: rgb(250, 250, 184);
    width: 240px;
    height: 40px;
    font-size: 1.2rem;
}
.divBusqueda input::placeholder{
    font-size: 1.2rem;
    text-shadow: #c4c4c4;
}
/*footer */
footer{
    width: 95vw;
    height: 600px;
    display: grid;
    grid-template-rows: 65% 35%;
    grid-template-columns: 100%
}
footer .divTop{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,28%);
    grid-template-rows: 100%;
}
footer .divTop .divItemFooter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.divItemFooter h2{
    margin-top: 25px;
    font-size: 1.2rem;
}

.sectionPrincipal{
    width: 100vw;
    height: 500px;
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/OD5F5E6ZKJADPCSGDKQHCM323E.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sectionPrincipal h1{
    color:white;
    margin-bottom: 30px;
    font-size: 2.3rem;
}
.sectionInfo{
    width: 85vw;
    margin: 0px auto;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 100%;
}
.divInfoItem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divInfoItem img{
    width: 90%;
    height: 50%;
}
.divInfoItem p{
    font-size: 1.2rem;
    color: #c4c4c4;
}
.divInfoItem p strong{
    color:black
}
.sectionCriptoComprar{
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: black;
}
.sectionCriptoComprar .divCriptoItem{
    margin: 15px;
    width: 280px;
    height: 90%;
    border-radius: 4%;
    display: grid;
    grid-template-rows: 45% 55%;
    grid-template-columns: 100%;
    background-color: #c4c4c4;
}
.divCriptoItem img{
    width: 70%;
    height: 70%;
    margin-left: 35px;
    margin-top: 30px;
}
.divCriptoItem  .divInfoCriptoItem{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.divInfoCriptoItem h2{
    font-size: 1.5rem;
}
.divInfoCriptoItem p{
    font-size: 1.2rem;
    padding-left: 10px;
}
.divInfoCriptoItem a{
    width: fit-content;
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius: 20%;
    background-color: rgb(8, 153, 8);
    font-size: 1.1rem;
}
/*compras */
.sectionContainer{
    width: 85vw;
    height: 400px;
    margin: 30px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,100%);
    gap: 20px;
}
.mainCompras{
    display: grid;
    height: 100vw;
    width: 100vw;
    grid-template-rows: 10% 70% 20%;
    grid-template-columns: 100%;
}
.sectionContainer{
    margin: 20px auto;
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,100%);
    gap: 25px;
}
.contenidoNFT{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#buscarCompras{
    margin-top: 30px;
    margin-left: 500px;
    width: 280px;
    height: 60px;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px outset #d99d02;
    font-size: 1.2rem;
    color:rgb(255, 227, 68);
    background-color: #fff6dd;
}
.encontrado{
    color:#c89900;
    font-size: 1.6rem;
}
/*cotizacion */
.mainCotizacion{
    background-color: #c89900;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    height: 900px; 
}
.conteinerCambio{
    width: 100vw;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 100%;
}
.DivConversor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.DivConversor form{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.DivConversor form input , select ,option{
    height: 50px;
    width: 270px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border: 2px outset #d99d02;
}
.DivConversor form input{
    color:#dba828;
    background-color: #fffbf0;
}
.DivConversor button{
    cursor: pointer;
    color:white;
    background-color: #d99d02;
    padding: 10px;
    font-size: 1.3rem;
}
.divResultadoCotizacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.divResultadoCotizacion h3{
    width: 95%;
    color:rgb(0, 0, 0);
    font-size: 1.8rem;
    font-weight: bolder;
}